<h1><%= title %></h1>
<p>Welcome to the <em><%= title %></em></p>
<p>The library has the following record counts:</p>

<ul>
  <li><strong>Conditions:</strong> <%= condition_count %></li>
  <li><strong>Doses:</strong> <%= dose_count %></li>
  <li><strong>Medications:</strong> <%= medication_count %></li>
  <li><strong>Regimens:</strong> <%= regimen_count %></li>
  <li><strong>Patients:</strong> <%= patient_count %></li>
  <li><strong>Prescriptions:</strong> <%= prescription_count %></li>
</ul>
