<h1><%= title %></h1>
<div style="margin-left: 20px; margin-top: 20px">
  <p>
    <strong>Prescription details: </strong>
  </p>
  <p>Patient: <%= prescription.patient.name %></p>
  <p>Medication: <%= prescription.medication.name %></p>
  <p>Regimen: <%= prescription.regimen.summary %></p>
  <p>Status: <%= prescription.status %></p>
</div>
