<h1><%= title %></h1>

<% const statusDefault = (undefined===prescription ? "Active" :
prescription.status) %> <% const inventoryUpdateDateDefault =
(undefined===prescription ? "" : prescription.inventory_update_form_formatted)
%> <% const inventoryUpdateQtyDefault = (undefined===prescription ? "" :
prescription.inventory_update_quantity_endofday) %>

<form method="POST">
  <div class="form-group">
    <label for="status">Status: </label>
    <select id="status" class="form-control" name="status">
      <% for (const statusOption of statusOptions) { %> <% if (statusDefault ===
      statusOption) { %>
      <option value="<%=statusOption%>" selected="selected">
        <%=statusOption%>
      </option>
      <% } else { %>
      <option value="<%=statusOption%>"><%=statusOption%></option>
      <% } %> <% } %>
    </select>
  </div>

  <label for="inventory_update_date">Inventory Update Date: </label>
  <input
    id="inventory_update_date"
    class="form-control"
    type="date"
    placeholder="Date when inventory updates - normally today."
    name="inventory_update_date"
    value="<%= inventoryUpdateDateDefault %>"
  />

  <label for="inventory_update_quantity_endofday">Quantity Held: </label>
  <input
    id="inventory_update_quantity_endofday"
    class="form-control"
    type="number"
    placeholder="Quantity of this medication currently held..."
    name="inventory_update_quantity_endofday"
    value="<%= inventoryUpdateQtyDefault %>"
  />

  <div class="form-group">
    <div>
      <div style="display: inline; padding-right: 10px">
        <label for="patient">Patients: </label>
        <select id="patient" class="form-control" name="patient">
          <% for (const patient of patients) { %> <% if (patient.checked) { %>
          <option value="<%=patient._id%>" selected="selected">
            <%=patient.name%>
          </option>
          <% } else { %>
          <option value="<%=patient._id%>"><%=patient.name%></option>
          <% } %> <% } %>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div>
      <div style="display: inline; padding-right: 10px">
        <label for="medication">Medications: </label>
        <select id="medication" class="form-control" name="medication">
          <% for (const medication of medications) { %> <% if
          (medication.checked) { %>
          <option value="<%=medication._id%>" selected="selected">
            <%=medication.name%>
          </option>
          <% } else { %>
          <option value="<%=medication._id%>"><%=medication.name%></option>
          <% } %> <% } %>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div>
      <div style="display: inline; padding-right: 10px">
        <label for="regimen">Regimens: </label>
        <select id="regimen" class="form-control" name="regimen">
          <% for (const regimen of regimens) { %> <% if (regimen.checked) { %>
          <option value="<%=regimen._id%>" selected="selected">
            <%=regimen.summary%>
          </option>
          <% } else { %>
          <option value="<%=regimen._id%>"><%=regimen.summary%></option>
          <% } %> <% } %>
        </select>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<% if (errors) {%>
<ul>
  <% for (const error of errors) { %> <% const errorText = `You entered
  "${error.value}" for ${error.path}. ${error.msg}` %>
  <li><%= errorText %></li>
  <% } %>
</ul>
<% } %>
