<h1><%= title %></h1>

<div style="margin-left: 20px; margin-top: 20px">
  <p>
    <strong>Regimen details: </strong>
  </p>

  <ul>
    <% for (let i=0; i < regimen.doses.length; i++) { %>
    <li>
      Take <%= regimen.doses[i].quantity %> at <%= regimen.doses[i].time %>
    </li>
    <% } %>
  </ul>
</div>

<hr />

<p>
  <% const deleteUrl = regimen.url + "/delete" %>
  <a href="<%= deleteUrl %>">Delete regimen</a>
</p>

<p>
  <% const updateUrl = regimen.url + "/update" %>
  <a href="<%= updateUrl %>">Update regimen</a>
</p>
